db.sqlite3
__pycache__/
anilist.token
media/
env/
*.pyc
media_files/
aniMango/mail_settings.py
anilist_api/anilist_config.py

aniMango/settings\.py

aniMango/urls\.py

members/migrations/

aniMango/bleach_html\.py
