{% extends "base.html" %}

{% block title %}
  {{ board }}
{% endblock %}

{% block content %}
<div class="collection with-header">
  <div class="collection-header">
    <h5>{{ board }}</h5>
    <p>{{ board.description }}</p>
  </div>
{% for thread in thread_list %}
  <a href="{% url 'forum:thread' thread.id %}" class="collection-item avatar">
    <i class="material-icons circle">message</i>
    <span class="title">{{ thread.title }}</span>
    <p>{{ thread.info }}</p>
  </a>
{% empty %}
  <div class="collection-item">
    <p>No threads! Why don't you start one?</p>
  </div>
{% endfor %}
</div>

{% if user.is_authenticated %}
<div
  class="fixed-action-btn hide-on-small-only"
  style="bottom: 80px; right: 30px;"
>
  <a
    href="#thread_modal"
    class="btn-floating btn-large blue darken-4 tooltipped modal-trigger"
    data-position="left"
    data-delay="50"
    data-tooltip="Start a new thread"
  >
    <i class="large material-icons">add</i>
  </a>
</div>
<div
  class="fixed-action-btn hide-on-med-and-up"
  style="bottom: 40px; right: 30px;"
>
  <a
    href="#thread_modal"
    class="btn-floating btn-large blue darken-4 tooltipped modal-trigger"
    data-position="left"
    data-delay="50"
    data-tooltip="Start a new thread"
  >
    <i class="large material-icons">add</i>
  </a>
</div>

{% load wysiwyg %}
{% wysiwyg_setup %}

<div id="thread_modal" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Start a new thread</h4>
    <form action="{% url 'forum:new' board.id %}" method="POST">
      {% csrf_token %}
      <div class="input-field">
        <input type="text" name="title" id="title">
        <label for="title">Thread Title</label>
      </div>
      <textarea id="content" name="content"></textarea>
      <div class="input-field">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
          Cancel
        </a>
        <input class="btn" type="submit" value="post">
      </div>
    </form>
  </div>
</div>

{% wysiwyg_editor "content" %}

{% endif %}

{% endblock %}