{% extends "base.html" %}

{% block title %}
    Forum Index
{% endblock %}

{% block content %}
    <h4 class="center-align">
        Warwick Anime and Manga Society Forum
    </h4>
    <div class="collection with-header">
        <div class="collection-header">
            <h5>Forum boards</h5>
        </div>
        {% for board in board_list %}
            <a href="{% url 'forum:board' board.id %}" class="collection-item avatar">
                <i class="material-icons circle">forum</i>
                <span class="title">{{ board }}</span>
                <p>{{ board.description }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}