{% extends "base.html" %}

{% block title %}
    {{ thread }}
{% endblock %}

{% block content %}

    {% if thread.locked or board.locked %}
        <div class="col s12 card-panel red">
            <div class="card-content">
                <span class="card-title">Thread is locked. You cannot edit posts or reply.</span>
            </div>
        </div>
    {% endif %}

    <ul class="collection with-header collapsible">
        <li class="collection-item avatar">
            {% if thread.thread_user.img %}
                <img src="{{ thread.thread_user.img.url }}" class="circle">
            {% else %}
                <i class="material-icons circle">account_circle</i>
            {% endif %}
            <h5 class="center-align">{{ thread.title|safe }}</h5>
            <p><br>{{ thread.info }}</p>
        </li>
        {% for post in post_list %}
            <li class="collection-item avatar">
                {% if post.post_user.img %}
                    <img src="{{ post.post_user.img.url }}" class="circle">
                {% else %}
                    <i class="material-icons circle">account_circle</i>
                {% endif %}
                <div id="post_content{{ post.id }}" class="col s12 forum-content tinymce-content">
                    {% if post.deleted %}
                        <p>[POST DELETED]</p>
                    {% else %}
                        {{ post.content|safe }}
                    {% endif %}
                </div>
                <div class="col s12 grey-text">
                    <p>{{ post.by }}{% if post.edited %} | Edited{% endif %}{% if post.locked %} | Locked {% endif %}
                        {% if post.post_user == request.user.member and not thread.locked and not post.locked or request.user.member.is_privileged %}
                            <a
                                    class="right modal-trigger forum-post-controls"
                                    href="#delete_modal"
                                    onclick="
                                            document.getElementById('delete_form').action='{% url 'forum:delete' post.id %}';"
                            ><i title="Delete post" class="fas fa-trash-alt"></i></a>
                            <a
                                    class="right modal-trigger forum-post-controls"
                                    href="#edit_modal"
                                    onclick="
                                            document.getElementById('edit_form').action='{% url 'forum:edit' post.id %}';
                                            tinymce.get('reply_text').setContent(document.getElementById('post_content{{ post.id }}').innerHTML);"
                            ><i title="Edit post" class="fas fa-edit"></i></a>

                            {% if post.id == post.parent_thread.originalPost and request.user.member.is_privileged %}
                                <a
                                        class="right forum-post-controls"
                                        href="{% url 'forum:pin' thread.id %}"
                                ><i title="Pin post" class="fas fa-thumbtack"></i></a>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated and not thread.locked and not board.locked %}
        <div
                class="fixed-action-btn hide-on-small-only"
                style="bottom: 80px; right: 30px;"
        >
            <a
                    href="#reply_modal"
                    class="btn-floating btn-large blue darken-4 tooltipped modal-trigger"
                    data-position="left"
                    data-delay="50"
                    data-tooltip="Reply to this thread"
                    onclick="
                            document.getElementById('reply_form').action='{% url 'forum:reply' thread.id %}';
                            tinymce.get('reply_text').setContent('');"
            >
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>
        <div
                class="fixed-action-btn hide-on-med-and-up"
                style="bottom: 40px; right: 30px;"
        >
            <a
                    href="#reply_modal"
                    class="btn-floating btn-large blue darken-4 tooltipped modal-trigger"
                    data-position="left"
                    data-delay="50"
                    data-tooltip="Reply to this thread"
                    onclick="
                            document.getElementById('reply_form').action='{% url 'forum:reply' thread.id %}';
                            tinymce.get('reply_text').setContent('');"
            >
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>

        <div id="delete_modal" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Delete post</h4>
                <form id='delete_form' name="delete_form" method="POST">
                    {% csrf_token %}
                    <p>Are you sure you want to delete this post? Note, deleting a post does not remove the data,
                        rather it just hides it. An Admin can always recover the post as a matter of policy.</p>
                    <div class="input-field">
                        <a class="modal-action modal-close waves-effect waves-red btn blue">
                            Cancel
                        </a>
                        <input class="btn red right" type="submit" value="Delete">
                    </div>
                </form>
            </div>
        </div>

        <div id="reply_modal" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Thread Reply</h4>
                <form id='reply_form' name="reply_form" action="{% url 'forum:reply' thread.id %}" method="POST">
                    {% csrf_token %}
                    <textarea id="reply_text" name="reply_text" rows="4" style="height:100%"
                              autocomplete="off"></textarea>
                    <div class="input-field">
                        <a class="modal-action modal-close waves-effect waves-red btn-flat">
                            Cancel
                        </a>
                        <input class="btn" type="submit" value="Reply">
                    </div>
                </form>
            </div>
        </div>

        <div id="edit_modal" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Thread Edit</h4>
                <form id='edit_form' name="edit_form" action="{% url 'forum:reply' thread.id %}" method="POST">
                    {% csrf_token %}
                    <textarea id="reply_text" name="reply_text" rows="4" style="height:100%"
                              autocomplete="off"></textarea>
                    <div class="input-field">
                        <a class="modal-action modal-close waves-effect waves-red btn-flat">
                            Cancel
                        </a>
                        <input class="btn" type="submit" value="Edit">
                    </div>
                </form>
            </div>
        </div>

        {% load static %}
        <script type="text/javascript" src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
        <script>
            tinymce.init({
                mode: "textareas",
                plugins: 'autolink textcolor colorpicker link lists',
                toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor | link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent'
            });

        </script>

    {% endif %}

{% endblock %}
