{% extends "base.html" %}

{% block title %}
  {{ thread }}
{% endblock %}

{% block content %}
<ul class="collection with-header collapsible">
  <li class="collection-item avatar">
    {% if thread.thread_user.img %}
      <img src="{{ thread.thread_user.img.url }}" class="circle">
    {% else %}
      <i class="material-icons circle">account_circle</i>
    {% endif %}
    <h5 class="center-align">{{ thread.title }}</h5>
    <div class="forum-content"><p>{{ thread.content|safe }}</p></div>
    <p><br>{{ thread.info }}</p>
  </li>
{% for post in post_list %}
  <li class="collection-item avatar">
    {% if post.post_user.img %}
      <img src="{{ post.post_user.img.url }}" class="circle">
    {% else %}
      <i class="material-icons circle">account_circle</i>
    {% endif %}
    <div class="col s12 forum-content">
      {{ post.content|safe }}
    </div>
    <div class="col s12">
      <p>{{ post.by }}</p>
    </div>
  </li>
{% empty %}
  <li class="collection-item">
    <p>No responses! Why don't you reply?</p>
  </li>
{% endfor %}
</ul>

{% if user.is_authenticated %}
<div
  class="fixed-action-btn hide-on-small-only"
  style="bottom: 80px; right: 30px;"
>
  <a
    href="#reply_modal"
    class="btn-floating btn-large blue darken-4 tooltipped modal-trigger"
    data-position="left"
    data-delay="50"
    data-tooltip="Reply to this thread"
  >
    <i class="large material-icons">mode_edit</i>
  </a>
</div>
<div
  class="fixed-action-btn hide-on-med-and-up"
  style="bottom: 40px; right: 30px;"
>
  <a
    href="#reply_modal"
    class="btn-floating btn-large blue darken-4 tooltipped modal-trigger"
    data-position="left"
    data-delay="50"
    data-tooltip="Reply to this thread"
  >
    <i class="large material-icons">mode_edit</i>
  </a>
</div>

{% load wysiwyg %}
{% wysiwyg_setup %}

<div id="reply_modal" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Thread Reply</h4>
    <form action="{% url 'forum:reply' thread.id %}" method="POST">
    {% csrf_token %}
      <textarea id="reply_text" name="reply_text"></textarea>
      <div class="input-field">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
          Cancel
        </a>
        <input class="btn" type="submit" value="reply">
      </div>
    </form>
  </div>
</div>

{% wysiwyg_editor "reply_text" %}

{% endif %}

{% endblock %}