/* Overrides to make the navbar smaller */
.navbar-fixed {
  position: relative;
  height: 40px;
  z-index: 998;
}
nav {
    height: 40px;
    line-height: 40px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 40px;
    line-height: 40px;
}
nav .button-collapse i {
    height: 40px;
    line-height: 40px;
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 40px;
        line-height: 40px;
    }
}

/* Add padding to the left  and right of the main logo text */
nav .brand-logo {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* Remove padding on labels in the library view */
.card .card-content.library-label {
  padding: 0px;
}

/* Allow for library images to resize responsively while leaving label space*/
.library-img {
  width: 100%;
  height: 82%;
  object-fit: contain;
}

/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* Message panels */
.card-panel.success {
  background-color: #4caf50;
  color: white;
}
.card-panel.error {
  background-color: red;
  color: white;
}