html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Overrides to make the navbar smaller */
.navbar-fixed {
    position: relative;
    max-height: 70px;
    z-index: 998;
    color: #fafafa !important;
}

nav {
    max-height: 60px;
    line-height: 60px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    max-height: 60px;
    line-height: 60px;
}

nav .button-collapse i {
    max-height: 60px;
    line-height: 60px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        max-height: 60px;
        line-height: 60px;
    }
}

/* Add padding to the left  and right of the main logo text */
nav .brand-logo {
    font-size: 18pt;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;

}
/* Blue links on car actions */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #039be5 !important;
}

/* Remove padding on labels in the library view */
.card .card-content.library-label {
    padding: 0px;
}

/* Allow for library images to resize responsively while leaving label space*/
.library-img {
    width: 100%;
    height: 82%;
    object-fit: contain;
}

/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: 'Oxygen', sans-serif;
}

main {
    flex: 1 0 auto;
}

/* Make error messages red */
.error {
    color: #f44336;
}

.alert {
    background-color: #B0E0E6;
    color: #303030;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px 10px 20px 10px;
}

/* Make the text editor stay in the center */
.yui-editor-container {
    margin: 0 auto;
}

/* Allow for forum posts to display correctly */
.forum-content, .article-content, .history-content {
    display: block;
    overflow: auto;
}

/* Modal resize overrides*/
.modal {
    max-height: 95% !important;
    top: 5% !important;
}

/* Materialize css disables (unordered) list stiling, this fixes that for content under tinymce-content class*/
.tinymce-content ul {
    padding-left: 40px;
}

.tinymce-content ul li {
    list-style-type: circle;
}

.tinymce-content ol {
    padding-left: 40px;
}

.tinymce-content ol li {
    list-style-type: decimal;
}

/* Changes made by Porky to actually make the site not look shit */

.modern-menu {
    background-color: #328CC1 !important;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.floating_object {
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
}

.logo-components {
    z-index: 1;
    position: relative;
}

.logo-sub-component {
    z-index: -1;
    position: absolute;
    left: 0px;
}

.right-menu-style {
    background-color: #0B3C5D;
    max-height: 60px !important;
    padding-left: 27px;
}

@media only screen and (min-width: 1100px) {
    .events {
        display: flex !important;
        flex-direction: column;
        padding-top: 10vh !important;
        padding-left: 5vw !important;
    }
}

.card-content-subtitle {
    font-size: 12pt;
    font-weight: bold;
}

.card-content-text {
    padding-left: 18px;
}

.btn-small {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 10px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fafafa;
    background-color: #1D2731;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
}

.heading {
    font-size: 20pt;
    font-weight: bold;
}

.divider {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid black;
}

/* Making sure that the items within the archive are the right size */

.archive-image {
    max-width: 50%;
}

/* Forum look and feel */

.forum-post-controls {
    padding: 0 10px 0 10px;
}

.v-splitter {
    border-left: 2px solid green;
    height: 100vh;
}

.bio-label {
    margin: -20px 0px !important;
}

.h-splitter{
    margin-bottom: 5vh;
    width: 100vw;
    height: auto;
    background-color: #328CC1;
    font-weight: bold;
    color: #fafafa;
}

.h-splitter-content{
    margin: 20px 0 40px 0;
}

/* Home scrolling events */
.home-event-container {
    width:100%;
    overflow: hidden;
    height: auto;
}

.home-event-item {
    display: block;
    float: left;
    width: 25%;
    padding: 30px;
}

.home-event-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Restore bold text in articles */
.article-content strong {
    font-weight: bold;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Different Menu's for Home */
@media only screen and (max-width: 760px) {
  #home-event-desktop { display: none; }
}

@media only screen and (min-width: 761px) {
  #home-event-mobile { display: none; }
}

/* Restore list style in ULs */
.ul-restore-points {
    list-style-type: circle;
    padding-inline-start: 40px;
}

.ul-restore-points li {
    list-style-type: circle;
}

/* Style code*/
code {
    background-color: #EFF0F1;
    border-radius: 1px;
}

.code-box {
    white-space: pre-line;
    background-color: #EFF0F1;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

/* Error list in forms */
.errorlist {
    color: #f44336;
    margin-top: -12px;
    margin-bottom: 15px;
    font-size: 12px;
}