/* Overrides to make the navbar smaller */
.navbar-fixed {
  position: relative;
  max-height: 70px;
  z-index: 998;
  color: #fafafa !important;
}
nav {
    max-height: 70px;
    line-height: 70px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    max-height: 70px;
    line-height: 70px;
}
nav .button-collapse i {
    max-height: 70px;
    line-height: 70px;
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        max-height: 70px;
        line-height: 70px;
    }
}
/* Add padding to the left  and right of the main logo text */
nav .brand-logo {
    font-size: 24pt;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;

}
/* Remove padding on labels in the library view */
.card .card-content.library-label {
  padding: 0px;
}
/* Allow for library images to resize responsively while leaving label space*/
.library-img {
  width: 100%;
  height: 82%;
  object-fit: contain;
}
/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  font-family: 'Oxygen', sans-serif;
}
main {
  flex: 1 0 auto;
}
/* Make error messages red */
.error {
  color: red;
  font-weight: bold;
}
/* Make the text editor stay in the center */
.yui-editor-container {
  margin: 0 auto;
}
/* Allow for forum posts to display correctly */
.forum-content, .article-content, .history-content{
  display: block;
  overflow: auto;
}
/* Modal resize overrides*/
.modal {
  max-height: 95% !important;
  top: 5% !important;
}

/* Materialize css disables (unordered) list stiling, this fixes that for content under tinymce-content class*/
.tinymce-content ul {
  padding-left: 40px;
}

.tinymce-content ul li {
  list-style-type: circle;
}

.tinymce-content ol {
  padding-left: 40px;
}


.tinymce-content ol li {
  list-style-type: decimal;
}

/* Changes made by Porky to actually make the site not look shit */

.modern-menu{
    background-color: #328CC1 !important;
}

.right-menu-style{
    background-color: #0B3C5D;
    max-height: 70px !important;
    padding-left: 25px;
}
@media only screen and (min-width: 1100px){
    .events{
        display: flex !important;
        flex-direction: column;
        padding-top: 10vh !important;
        padding-left: 5vw !important;
    }
}

.card-content-subtitle{
    font-size: 12pt;
    font-weight: bold;
}

.card-content-text{
    padding-left: 18px;
}
.btn-small {
    border:none;
    border-radius:2px;
    display:inline-block;
    height:36px;
    line-height:36px;
    outline:0;
    padding: 0 10px;
    vertical-align:middle;
    -webkit-tap-highlight-color:transparent;
    text-decoration:none;
    color:#fafafa;
    background-color:#1D2731;
    text-align:center;
    letter-spacing:.5px;
    cursor:pointer;
}

.heading{
    font-size: 20pt;
    font-weight: bold;
}

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid black;
}
