{% extends "base.html" %}

{% block title %}
  Profile Edit
{% endblock %}

{% block content %}
<div class="card-panel" id="progress-container">
  <h4 class="center-align">Edit your profile</h4>
  <form
    action="{% url 'member:edit' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="input-field">
      <input type="checkbox" id="show_name" name="show_name" autocomplete="off"
        {% if user.member.show_full_name %}
        checked="checked"
        {% endif %}
      />
      <label
        for="show_name"
        class="tooltipped"
        data-position="bottom"
        data-delay="50"
        data-tooltip="Checking this will display your real name to users viewing your profile. It will also be used to identify you if no nickname is set. For execs, it will also be shown publicly on the exec page."
      >Show real name</label>
    </div>
    <br>
    <div class="input-field">
      <input id="nick" name="nick" type="text" autocomplete="off" value="{{ user.member.nick }}">
      <label for="nick"
        class="tooltipped"
        data-position="bottom"
        data-delay="0"
        data-tooltip="Your preferred name to be identified by on the website. If none set, either your full name (if allowed) or your username (university ID) will be used."
      >Nickname (?)</label>
    </div>
    <br>
    <div class="input-field">
      <input id="discordTag" name="discordTag" type="text" autocomplete="off" value="{{ user.member.discordTag }}">
      <label for="discordTag"
        class="tooltipped"
        data-position="bottom"
        data-delay="0"
        data-tooltip="Your Discord Name and ID (discriminator) - i.e. DiscordUser#0001"
      >Discord ID (?)</label>
    </div>
    <br>
    <div class="input-field">
      <label>Bio</label><br/>
      <textarea
        id="bio"
        name="bio"
        autocomplete="off"
        >{{ user.member.bio|safe }}</textarea>
    </div>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script>
      tinymce.init({
        selector: '#bio',
        plugins: 'autolink textcolor colorpicker link lists',
        toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor | link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent'
      });
    </script>

    <div class="file-field input-field">
      <div class="btn blue darken-1">
        <span>File</span>
        <input type="file" name="img" autocomplete="off">
      </div>
      <div class="file-path-wrapper">
        <input
          class="file-path validate"
          type="text"
          placeholder="Upload image file"
        >
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="center-align">
          <a class="btn red darken-1" href="{% url 'member:profile' %}">
            cancel
          </a>
        </div>
      </div>
      <div class="col s6">
        <div class="center-align">
          <input
            class="btn blue darken-3" type="submit" value="update" id="memberedit"
          >
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
