<footer class="moden-menu page-footer">
    <div class="container">
        <div class="row">
            <div class="col l7 s12">
                <h5 class="white-text">More infomation?</h5>
                <p class="grey-text text-lighten-4">Weekly showings on Tuesday evening from
                    18:30-22:00 in MS.05 in the Maths and Stats Building. Come along to any
                    of our showings to watch and discuss Anime and Manga with others in the
                    society!</p>
            </div>
            <div class="col l3 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.warwicksu.com/societies/animeandmanga/">Warwick
                        SU</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/warwickanimesoc">Facebook</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://animesoc.co.uk/discord">Discord</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://myanimelist.net/clubs.php?cid=78196">MAL Club</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/WarwickAnimeSoc/aniMango">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright modern-menu">
        <div class="container">
            &copy; University of Warwick Anime and Manga Society 2016 - {% now "Y" %}
            <a
                    href="https://www.djangoproject.com"
                    class="grey-text text-lighten-4 right"
            >
                - Powered by Django
            </a>
            <div class="grey-text text-lighten-4 right">
                <a href="https://github.com/jai-sharma" class="grey-text text-lighten-4">Built by Jai Sharma,</a>
                <a href="https://github.com/ZMedardas" class="grey-text text-lighten-4">Sorc,</a>
                <a href="https://github.com/AlfiePowers" class="grey-text text-lighten-4">and MrPorky</a>
                &nbsp
            </div>
        </div>
    </div>
</footer>
