<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper indigo darken-4">

        <a href="#" data-activates="mobile-menu" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <a
          href="{% url 'home' %}"
          class="brand-logo center hide-on-med-only"
        >
          {% load static %}
          <img src="{% static 'images/smol_logo.gif' %}">
        </a>
        <a href="{% url 'home' %}" class="brand-logo hide-on-small-only">
          Warwick Anime and Manga Society
        </a>

        <!--DROPDOWN FOR LOGGED IN USERS ON DESKTOP-->
        {% if user.is_authenticated %}
        <ul id="member-dropdown" class="dropdown-content">
          {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
          <li><a href="{% url 'member:profile' %}">Profile</a></li>
          <li><a href="{% url 'member:logout' %}">Logout</a></li>
        </ul>
        {% endif %}

        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'events:upcoming' %}">Events</a></li>
          <li><a href="{% url 'news:latest' %}">News</a></li>
          <li><a href="{% url 'forum:index' %}">Forum</a></li>
          <li><a href="{% url 'showings:schedule' %}">Showings</a></li>
          <li><a href="{% url 'library:index' %}">Library</a></li>
          <li><a href="#">About</a></li>
          <li>
            {% if user.is_authenticated %}
            <a class="dropdown-button" data-activates="member-dropdown">
              <i class="material-icons left">account_circle</i>
              {{ user.member }}
            </a>
            {% else %}
            <a href="{% url 'member:login' %}">
              Login
            </a>
            {% endif %}
          </li>
        </ul>
        <!--Mobile menu stuff here-->
        <ul class="side-nav" id="mobile-menu">
          <li>
            {% if user.is_authenticated %}
            <ul class="collapsible collapsible-accordian">
              <li>
                <a class="collapsible-header waves-effect">
                 <i class="material-icons left">account_circle</i>
                 {{ user.member }}
                 <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <!--DROPDOWN FOR LOGGED IN USERS ON MOBILE-->
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'member:profile' %}">Profile</a></li>
                    <li><a href="{% url 'member:logout' %}">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            {% else %}
            <a href="{% url 'member:login' %}">
              Login
            </a>
            {% endif %}
          </li>
          <li><a href="{% url 'events:upcoming' %}">Events</a></li>
          <li><a href="{% url 'news:latest' %}">News</a></li>
          <li><a href="{% url 'forum:index' %}">Forum</a></li>
          <li><a href="{% url 'showings:schedule' %}">Showings</a></li>
          <li><a href="{% url 'library:index' %}">Library</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>