<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper modern-menu">

                <a href="#" data-activates="mobile-menu" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <a href="{% url 'site_info:home' %}" class="brand-logo center hide">
                    {% load static %}
                    <img src="{% static 'images/smol_logo.gif' %}">
                </a>
                <a href="{% url 'site_info:home' %}" class="brand-logo hide-on-small-only">
                    Warwick Anime and Manga Society
                </a>

                <!--DROPDOWN FOR LOGGED IN USERS ON DESKTOP-->
                {% if user.is_authenticated %}
                    <ul id="member-dropdown" class="dropdown-content">
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'member:profile' %}">Profile</a></li>
                        <li><a href="{% url 'member:logout' %}">Logout</a></li>
                    </ul>
                {% endif %}

                <!--DROPDOWN FOR SITE INFO ON DESKTOP-->
                <ul id="info-dropdown" class="dropdown-content">
                    <li><a href="{% url 'site_info:history' %}">History</a></li>
                    {% now "Y" as current_year %}
                    <li><a href="{% url 'site_info:exec' year=current_year %}">Exec</a></li>
                    <li><a href="{% url 'site_info:about' %}">About Us</a></li>
                    <li><a href="{% url 'site_info:contact' %}">Contact</a></li>
                    <li><a href="{% url 'site_info:gdpr' %}">GDPR</a></li>
                </ul>

                <ul class="right right-menu-style hide-on-med-and-down">
                    <li class="nav-item"><a href="{% url 'events:upcoming' page=1 %}">Events</a></li>
                    <li class="nav-item"><a href="{% url 'news:latest' category='All' page='1' %}">News</a></li>
                    <li class="nav-item"><a href="{% url 'polls:index' %}">Polls</a></li>
                    <li class="nav-item"><a href="{% url 'forum:index' %}">Forum</a></li>
                    <li class="nav-item"><a href="{% url 'showings:schedule' %}">Showings</a></li>
                    <li class="nav-item"><a href="{% url 'library:index' %}">Library</a></li>
                    <li class="nav-item"><a class="dropdown-button" data-activates="info-dropdown">
                        Society
                    </a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <a class="dropdown-button" data-activates="member-dropdown">
                                <i class="material-icons left">account_circle</i>
                                {{ user.member }}
                            </a>
                        {% else %}
                            <a href="{% url 'member:login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>

                <!--MOBILE MENU BEGINS-->
                <ul class="side-nav" id="mobile-menu">
                    <li>
                        {% if user.is_authenticated %}
                            <ul class="collapsible collapsible-accordian">
                                <li>
                                    <a class="collapsible-header waves-effect">
                                        <i class="material-icons left">account_circle</i>
                                        {{ user.member }}
                                        <i class="material-icons right">arrow_drop_down</i>
                                    </a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <!--DROPDOWN FOR LOGGED IN USERS ON MOBILE-->
                                            {% if user.is_staff %}
                                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'member:profile' %}">Profile</a></li>
                                            <li><a href="{% url 'member:logout' %}">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <a href="{% url 'member:login' %}">Login</a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'site_info:home' %}">Home</a></li>
                    <li><a href="{% url 'events:upcoming' page=1 %}">Events</a></li>
                    <li><a href="{% url 'news:latest' category='All' page='1' %}">News</a></li>
                    <li><a href="{% url 'polls:index' %}">Polls</a></li>
                    <li><a href="{% url 'forum:index' %}">Forum</a></li>
                    <li><a href="{% url 'showings:schedule' %}">Showings</a></li>
                    <li><a href="{% url 'library:index' %}">Library</a></li>
                    <ul class="collapsible collapsible-accordian">
                        <li>
                            <a class="collapsible-header waves-effect">Society</a>
                            <div class="collapsible-body">
                                <ul>
                                    <!--DROPDOWN FOR ABOUT ON MOBILE-->
                                    <li><a href="{% url 'site_info:history' %}">History</a></li>
                                    {% now "Y" as current_year %}
                                    <li><a href="{% url 'site_info:exec' year=current_year %}">Exec</a></li>
                                    <li><a href="{% url 'site_info:about' %}">About Us</a></li>
                                    <li><a href="{% url 'site_info:contact' %}">Contact</a></li>
                                    <li><a href="{% url 'site_info:gdpr' %}">GDPR</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </ul>
            </div>
        </nav>
    </div>
</header>
