{% extends "base.html" %}

{% block title %}
  Showings
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m4">

    <div class="card-panel">
      <form action="{% url 'showings:cooldown' %}">
        <div class="input-field">
          <input id="cool_search" type="search" name="query">
          <label for="cool_search" class="active">Cooldown Search</label>
        </div>
      </form>
    </div>

    <div class="card-panel">
      <form action="{% url 'showings:search' %}">
        <div class="input-field">
          <input id="reg_search" type="search" name="query">
          <label for="reg_search" class="active">Showings Search</label>
        </div>
      </form>
    </div>

    <div class="card-panel">
      <h5 class="center-align">View by year</h5>
      <form action="{% url 'showings:year' %}">
        <div class="row">
          <div class="input-field col s6">
            <select name="year">
              <option value="" disabled selected>Choose year</option>
              <option value="All">All</option>
              {% for year in date_range %}
                <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-field col s6">
            <input type="submit" value="go" class="btn blue darken-4">
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="col s12 m8">
    <h5 class="center-align">Recent Showings</h5>
    {% for showing in showing_page %}
    <div class="card-panel">
      <strong>{{ showing.get_showing_type_display }}</strong>
      <div class="divider"></div>
      <dl>
        {% for show in showing.show_set.all %}
        <dt>
          {{ show.title_eng }}

          <div class="right">
            {% load static %}
            {% if show.mal_link %}
            <a href="{{ show.mal_link }}" target="_blank">
              <img
                src="{% static 'smol_mal_icon.png' %}"
                title="View on MyAnimeList.net"
              >
            </a>
            {% endif %}
            <a href="{{ show.ani_link }}" target="_blank">
              <img
                src="{% static 'smol_anilist_icon.png' %}"
                title="View on Anilist.co"
              >
            </a>
            {% if show.wiki_link %}
            <a href="{{ show.wiki_link }}" target="_blank">
              <img
                src="{% static 'smol_wiki_icon.png' %}"
                title="View on Wikipedia"
              >
            </a>
            {% endif %}
            {% if show.lib_series %}
            <a href="{% url 'library:detail' show.lib_series.id %}">
              <img
                src="{% static 'smol_lib_icon.png' %}"
                title="Series available in the Animesoc Library"
              >
            </a>
            {% endif %}
          </div>
        </dt>
        <dd>
          {{ show.details }}
        </dd>
        {% endfor %}
      </dl>
      <div class="divider"></div>
      <strong>{{ showing.date }}</strong>
    </div>
    {% empty %}
      <h4 class="center-align">No showings available</h4>
    {% endfor %}
  </div>
</div>
{% endblock %}