{% extends "base.html" %}

{% block title %}
    Constitution
{% endblock %}

{% block content %}
    <h4 class="center-align">Society Constitution</h4>
    <ol>
        <h5>
            <li>Name</li>
        </h5>
        <ol type="a">
            <li>
                The name of the Society shall be:
                <br>
                "University of Warwick Student's Union Anime &amp; Manga Society"
            </li>
        </ol>
        <h5>
            <li>Aims and Objectives</li>
        </h5>
        <ol type="a">
            <li>
                The Society shall have written statement of aims and objectives,
                which shall be part of this Constitution and shall be annually subject
                to review by the Society Executive Committee.
            </li>
            <li>
                The Statement of the Aims and Objectives of that Society shall be:<br>
                To Promote and Foster an interest in Japanese Animation and Comics ("Anime" and "Manga").
                We are dedicated to showing genres that appeal to all members regardless of cultural differences or
                gender, and promoting a healthy social atmosphere.
            </li>
            <li>
                The Society, its Officer, its funds and all its activities shall be subject to the provisions of the
                Constitution, Regulations and policy of the University of Warwick Student's Union
            </li>
            <li>
                The Society shall abide by the Union's current Equal Opportunities Policy and Environmental Policy
                statement, which shall be included in all constitutions
            </li>
            <li>
                The Society shall be subject to a disciplinary code as laid down by the Student's Union and administered
                by the Societies Federation Committee
            </li>
            <li>
                And alterations to the Society Constitution must be ratified by the Societies Federation Committee
            </li>
        </ol>
        <h5>
            <li>Decision Making</li>
        </h5>
        <ol type="a">
            <li>
                The Society General Meeting shall be the sovereign body of the Society. It shall elect all officers of
                the Society and may decide on any matter relating to the activities of the society.
            </li>
            <li>
                The Society Executive shall call at least one General Meeting per year for the purposes of electing all
                the Society Officers and discussing plans and activities for the coming year
            </li>
            <ol type="i">
                <li>
                    The Executive shall give at least seven days notice of any General meeting to all members and such
                    notice shall include details of any elections to be held.
                </li>
                <li>
                    The General Meeting will have a quorum of 20% of the total membership.
                </li>
                <li>
                    The Executive shall call further meetings either at its own initiative of at the request of 20% of
                    the membership of the request of the Societies and Student Development Officer.
                </li>
            </ol>
            <li>
                The Society Executive shall be made up at least five voting officers, of which two shall be the
                President / Chair and the Treasurer respectively. The General Meeting shall be free to give titles to
                the remaining officers and create other Executive Officers as it believes necessary.
            </li>
            <li>
                The Executive shall be responsible for the day to day running of the Society and may decide upon any
                matter that has not yet been decided upon by the General meeting. The Executive shall be further
                responsible for:
            </li>

            <ol type="i">
                <li>
                    Organising the activities of the Society in such a way as to include the greatest possible number of
                    the Society's members.
                </li>
                <li>
                    Directing the expenditure of the Society's funds in a responsible fashion and in line with the aims,
                    objectives and planned activities of the Society.
                </li>
                <li>
                    Formulating and submitting an annual bid for funds from the Societies Federation Committee prior to
                    any specified deadline which shall include a statement of activities and objectives for the coming
                    year and detailed justification of the figures contained within the bid.
                </li>
                <li>
                    Formulating and submitting any additional bids for funds from the Societies Federation Committee of
                    Groups within the Union.
                </li>
                <li>
                    Assisting any review of the Society's activities and use of funds carried out by any Standing
                    Committee of Group of the Students' Union that has granted funds to the Society.
                </li>
                <li>
                    Upholding the Constitution of the Society and ensuring that its aims and objectives reflect the
                    Society activities.
                </li>
                <li>
                    Ensuring that all society activity abides by law.
                </li>
            </ol>
        </ol>
        <h5>
            <li>Elections and General Meetings</li>
        </h5>
        <ol type="a">
            <li>
                Elections shall be held at a quorate general meeting.
            </li>
            <li>
                Where there is more than one candidate, candidates must be given free and fair opportunity to make a
                speech.
            </li>
            <li>
                If a request is made, a secret ballot must be held. This ballot should be counted by a member of the
                Executive Committee, excluding any member that declares interest in the outcome of the ballot.
            </li>
            <li>
                Societies may request an independent observer. The Societies Officer will nominate one.
            </li>
            <li>
                Only a quorate general meeting of a society may remove a society officer from office. This can be
                carried by a simple majority of voting members present.
            </li>
        </ol>
        <h5>
            <li>Membership</li>
        </h5>
        <ol type="a">
            <li>
                Membership of the Society shall be open to all full, associate and honorary members of the Students'
                Union and full, associate and honorary members of the Societies Federation upon payment of the required
                subscription. The subscription rate should reflect the true cost of the facilities made available to the
                members of the Society.
            </li>
            <li>
                All members of the Society shall be entitled to vote in elections, provided that they have joined the
                society and paid the appropriate subscription fee no less then three days before the elections take
                place.
            </li>
            <li>
                The following shall <u>not</u> be entitled to hold the office of an Executive position in the Society:
            </li>
            <ol type="i">
                <li>
                    Associate or Honorary members of the Student's Union or Societies Federation.
                </li>
                <li>
                    Any person who has received payment for the provision of services to the Society (not including
                    reimbursement of personal expenditure on behalf of the Society).
                </li>
            </ol>
        </ol>
    </ol>
{% endblock %}