{% extends "base.html" %}

{% block title%}
  Homepage
{% endblock %}

{% block content %}
{% load static %}
<img
  class="responsive-img"
  src="{% static 'front_banner.jpg' %}"
  alt="banner"
/>  
<h4 class="center-align">
  Welcome to the University of Warwick Anime and Manga Society
</h4>

<p>
  From Cowboy Bebop to Princess Mononoke, Azumanga Daioh to Dragon Ball Z, the Anime and Manga society is for anyone interested in trying, watching, discussing or borrowing Anime or Manga of any kind, and meeting people with similar interests.
</p>

<!--Row that contains the news and events sections, divided by columns-->
<div class="row">
<!--The news section-->
  <div class="col s12 m12 l8">
    <h5>News and Announcements</h5>
    {% for article in news_l %}
      <div class="card-panel">
        <h6>{{ article.title }}</h6>
      <div class="divider"></div>
      <div class="article-content">
        {{ article.content|safe|truncatewords_html:75 }}
      </div>
      <div class="divider"></div>
      <div class="col s4">
        <a href="{% url 'news:article' article.slug %}"><h6>Read more</h6></a>
      </div>
      <div class="col s8">
        <h6 class="right">{{ article.info }}</h6>
      </div>
      <br>
      </div>
    {% empty %}
      <p>No news!</p>
    {% endfor %}
  </div>
  <!--The events section-->
  <div class="col s12 l4">

    <h5>Upcoming Events</h5>
    <!--single event card-->
    {% for event in events_l %}
    <div class="col s12 m6 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ event.title }}</span>
            <p>
              {{event.subtitle}}
            </p>
            <p>
              {{event.when}} -- {{event.where}}
            </p>
          <div class="card-action">
            <a href="{% url 'events:view' event.id %}" class="blue-text">
              Go to event
            </a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No events!</p>
    {% endfor %}

  </div>
</div>


{% endblock %}